#header {
    background-image: url('Image/Header.jpg');
    height: 450px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    padding-top: 70px;
}

#footer-copyright {
    background-color: rgba(0, 0, 0, 0.2)
}

ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
body {
    background-color: powderblue;
}
.card {
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
